h1, h2, h3, h4, h5, h6 {
	font-family: NanumSquare !important;
}

h1 {
	font-size: 38px !important;
}

h2 {
	font-size: 30px !important;
}

h3 {
	font-size: 24px !important;
}

h4 {
	font-size: 18px !important;
}

p {
	font-family: NanumSquare;
	font-size: 12pt !important;
}

li {
	font-family: NanumSquare;
}

code {
	font-family: Consola !important;
	font-size: 12pt !important;
}